@import "tailwindcss";

:root {
  --background: oklch(29.9% 0.027 281.6);
  --foreground: oklch(0.99, 0.01, 286);
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: jerseyFont, Arial, Helvetica, sans-serif;
}

.row {
  display: flex;
  flex-direction: row;
}

.column {
  display: flex;
  flex-direction: column;
}

@layer base {
  .font-outline-2 {
    -webkit-text-stroke: 2px #356abc;
  }
  .font-outline-4 {
    -webkit-text-stroke: 4px #356abc;
  }
}
